# Enemy Models Configuration
#
# List of trained models that can be used by enemy ships
# Each line should contain a model path (relative to project root or absolute)
# Models should be compatible with the environment (PPO, DQN, A2C)
#
# Format: model_path
# models/ppo_pnp_model_v3
# models/ppo_pnp_model_v4

# models/ppo_pnp_model_v21
# models/ppo_pnp_model_v22
# models/ppo_pnp_model_v23
# models/ppo_pnp_model_v24
# models/ppo_pnp_model_v26

# models/ppo_pnp_model_v27
# models/ppo_pnp_model_v29
# models/ppo_pnp_model_v30
# models/ppo_pnp_model_v31

# models/ppo_pnp_model_v41
# models/ppo_pnp_model_v43

# Start of new model parameters
models/ppo_pnp_model_v45

# These models are now beating heuristic AI
models/ppo_pnp_model_v55
# models/ppo_pnp_model_v56

# models/ppo_checkpoint_54M_v60
models/ppo_pnp_model_v65

# Start of new model parameters - new observation space

